/* CSS for waver.html */
body {
    background-color:
}

.sprite {
	width: 400px;
	height: 400px;
	background: url('images/wcpapir.png') 0 0 no-repeat;
	animation: play 2s steps(10) infinite;
}
@keyframes play {
	0%{background-position:0px;}
   100% { background-position: -4000px; }
}
