.front-text {
  text-align: center;
  padding-top: 5%;
  color: #ffffff;
  font-size: 25px;
  font-family: 'Noto Sans HK', sans-serif;
}

.front-h2{
  color: #ffff;
  font-size: 20px;
  font-family: 'Noto Sans HK', sans-serif;
  text-align: center;
}
