
@media screen and (max-width:630px) {
  body {
    margin: 0;
    font-family: 'Noto Sans HK', sans-serif;
  }
  .header {
    overflow: hidden;
    background-color: #C31414;
    padding: 10px 10px;
    align-self: center;
  }
  .header a {
    float: right;
    color: white;
    padding: 40%;
    font-size: 25px;
    line-height: 25px;
    border-radius: 4px;
  }
  .header a.logo {
    font-size: 40px;
    font-weight: bold;
  }
  .arrow button {
    width: 25;
    background-color: #C31414;
    font-size: 20px;
    border: none;
    color: #ffffff;
    float: left;
    margin-right: -10%;
    padding: 1%;
    cursor: pointer;
  }

.back-image {
  background-image: url("images/gangdark.jpg");
  height: 1000px;
  margin-top: 0Px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.container {
  display: block;
  position: relative;
  padding: 7px;
  margin: 15%;
  cursor: pointer;
  font-size: 30px;
  text-align: center;
  font-family: 'Noto Sans HK', sans-serif;
  color: #000000;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 280px;
  background-color: #eee;
}


/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    border-style: solid;
  border-color: red;
}
}
